In [1]:
import pandas as pd 
from bs4 import BeautifulSoup as bs 
import urllib 

BASE_DIR_DATA = "nhse-dataset/csv/{}.csv"
df = pd.read_csv("nhse-dataset/csv/1.csv")
ref_prov = pd.read_excel("nhse-dataset/province_code.xlsx")

In [3]:
df.head()

,SBD,TOÁN,VĂN,LÝ,HÓA,SINH,SỬ,ĐỊA,GDCD,ANH,KHTN,KHXH,KHỐI A,KHỐI B,KHỐI C,KHỐI D,KHỐI A1
0,1063438,3.0,3.5,2.75,3.25,2.75,2.50,5.50,5.50,2.6,2.92,4.50,9.0,9.00,11.50,9.1,8.35
1,1063463,4.0,3.0,2.75,3.75,4.50,1.50,5.00,5.75,3.0,3.67,4.08,10.5,12.25,9.50,10,9.75
2,1063464,5.0,3.0,3.75,2.25,3.50,3.50,5.75,5.75,3.0,3.17,5.00,11.0,10.75,12.25,11,11.75
3,1063470,2.6,4.5,2.00,3.50,3.25,1.75,4.25,6.25,3.0,2.92,4.08,8.1,9.35,10.50,10.1,7.60
4,1063477,3.2,5.0,2.00,3.00,3.00,2.50,4.00,7.00,3.4,2.67,4.50,8.2,9.20,11.50,11.6,8.60

In [2]:
def get_data(ref_province):
    data_wraper = {} 
    for province_id in range(64):
        try:
            data_wraper[ref_province[ref_province["SỐ TT CỤM THI"] == province_id]["ĐIẠ PHƯƠNG"].values[0]] = pd.read_csv(BASE_DIR_DATA.format(province_id))
        except FileNotFoundError: 
            pass
    return data_wraper

In [9]:
query = "https://docs.google.com/spreadsheets/d/1ZZ_jX6o9wNp_loXfThXtux8kZzEkKmrCR8yJMEgj_Tk/edit#gid=1504472318"

soup = get_data(query)

In [33]:
df['VĂN'].count()

77685

In [53]:
ref_province[ref_province['SỐ TT CỤM THI'] == 6]["ĐIẠ PHƯƠNG"].values[0]

'Lai Châu'

In [41]:
ref_province[ref_province['ĐIẠ PHƯƠNG'] == "An Giang"]

    SỐ TT CỤM THI ĐIẠ PHƯƠNG TRA CỨU ĐIỂM THI THPT QUỐC GIA
51             52   An Giang               Tra cứu điểm thi

In [4]:
province_ref = pd.read_excel("nhse-dataset/province_code.xlsx") 
data_wraper = get_data(province_ref)

In [8]:
data_wraper['TP.HCM']["TOÁN"].head()

0    6.6
1    4.0
2    6.0
3    2.4
4    5.8
Name: TOÁN, dtype: float64

In [18]:
import plotly.plotly as py
import plotly.graph_objs as go

import numpy as np

x = data_wraper["TP.HCM"]['LÝ']
data = [go.Histogram(x=x,
                     histnorm='probability')]

layout = go.Layout(
    xaxis=dict(
        title = "Điểm thi",
        ticks='outside',
        tick0=0,
        dtick=0.25,
        ticklen=8,
        tickwidth=4,
        tickcolor='#000'
    )
)

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='math score of HCMC 2018')

E:\ProgramData\Anaconda3\lib\site-packages\plotly\plotly\plotly.py:233: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.